---
import SearchBox from './SearchBox.astro';
---

<div class="action-band">
  <div class="container">
    <div class="action-band__inner">
      <div class="action-band__search">
        <SearchBox />
      </div>
    </div>
    <slot />
  </div>
</div>
