---
interface Article {
  data: { title: string; slug: string };
}
interface Props {
  category: string;
  articles: Article[];
}
const { category, articles } = Astro.props;
---

{articles.length > 0 && (
  <div class="toc__card">
    <p class="toc__title">More in {category}</p>
    <ul class="more-list">
      {articles.map((a) => (
        <li>
          <a href={`/articles/${a.data.slug}`} class="more-list__link">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" aria-hidden="true">
              <path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8zM14 2v6h6"></path>
            </svg>
            <span>{a.data.title}</span>
          </a>
        </li>
      ))}
    </ul>
  </div>
)}
